<%- include("../partials/head") %>

<main>
  <h1>Change Password</h1>

  <% if (message) { %>
    <p class="notice"><%= message %></p>
  <% } %>

  <% if (errors && errors.length) { %>
    <div class="form-errors">
      <ul>
        <% errors.forEach(err => { %>
          <li><%= err.msg %></li>
        <% }) %>
      </ul>
    </div>
  <% } %>

  <form class="login-form" method="POST" action="/account/update-password">
    <div class="form-group">
      <label for="account_password">New Password</label>
      <input
        type="password"
        id="account_password"
        name="account_password"
        required
      />
    </div>

    <button type="submit">Save Password</button>
  </form>
</main>

<%- include("../partials/footer") %>
