<%- include("./partials/head") %>

<main>
  <h1>Welcome to CSE Motors</h1>
  <p>This is the home page.</p>
  <p>Need an account? <a href="/account/register">Create one here.</a></p>
</main>

<%- include("./partials/footer") %>
